<h1> Data Science Tools and Ecosystems </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objective:</b>
- Popular languages
- Commonly used libraries
- Comman Tools
- Arithmetic Expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. Ruby
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlab
2. Pandas
3. keras

|Data Science Tools|
|------------------|
|JuypterNoteBook|
|WatsonStudio|
|AzureML_Studio|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>
>> a=5 <br>
>> b=8  <br>
>> c=a+b <br>
>> d=b-a <br>
>> e=a*b

In [12]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
a=(200.0/60)
print(str(a) + " hours")

3.3333333333333335 hours

<h2> Author</h2>
Nikhil Kumar